h1 {
    text-align: center;
}
.add-task {
    margin-bottom: 20px;
}
.add-task input {
    height: 35px;
    width: 300px;
    margin-right: 5px;
    font-size: 16px;
}
.add-task button {
    padding: 9px 40px;
    background: blue;
    border-color: blue;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
}
ul {
    list-style-type: none;
    padding: 0;
}